<div class="page vertical-align text-center">
  <div class="page-content vertical-align-middle">
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <img class="brand-img" style="max-width:36px; max-height:36px; border-radius:7px" src="http://api.ioscreatix.com/assets/data/logo.jpg" alt="...">
          <h2 class="brand-text font-size-18">iOS Creatix</h2>
        </div>
        <form method="post" action="#" style="margin-top: 20px;">
          <a href="http://api.ioscreatix.com/auth/facebook">
            <button type="button" class="btn btn-tagged btn-block btn-lg margin-top-40 social-facebook">
              <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span><span style="text-align: center;">Sign in with Facebook</span>
            </button>
          </a>
          <a href="http://api.ioscreatix.com/auth/google">
            <button type="button" class="btn btn-tagged btn-block btn-lg margin-top-40 social-google-plus">
              <span class="btn-label"><i class="icon bd-google-plus" aria-hidden="true"></i></span><span style="text-align: center;">Sign in with Google</span>
            </button>
          </a>
        </form>
      </div>
    </div>

    <footer class="page-copyright page-copyright-inverse">
      <p>CreatixCRM BY Andrew Wiik</p>
      <p>© 2017. All RIGHT RESERVED.</p>
    </footer>
  </div>
</div>
