<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu">
          <li class="site-menu-category">Repository</li>
          <li class="site-menu-item">
            <a [routerLink]="['/packages']" class="animsition-link">
              <i class="site-menu-icon fa-archive" aria-hidden="true"></i>
              <span class="site-menu-title">Packages</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-menubar-footer">
  </div>
</div>
