<style>
  .ql-snow b, .ql-snow strong {
    font-weight: bold !important;
  }

  .page-main .list-group {
    margin: 0;
    padding-right: 15px;
  }

  .list-group .avatar {
    width: 62px;
  }

  .list-group .card {
    margin-bottom: 15px;
  }

  .list-group .card-block {
    -webkit-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    -o-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
  }

  .list-group .card-block:hover {
    cursor: pointer;
    background-color: #eee;
  }

  .list-group .list-group-item, .list-group .list-group-item:hover {
    background-color: transparent;
  }

  .list-inline {
    height: 25px;
  }

  .list-inline li a:hover {
    text-decoration: none;
    color: #76838f !important;
  }

  .detail {
    background-color: #a2caee !important;
  }

  .page-content {
    height: 100%;
    overflow-y: auto;
  }

  .tab-content {
    padding: 15px;
  }

  .screenshot-img {
    width: 100%;
    margin-top: -10px;
    height: auto;
    z-index: 1;
  }

  .screenshot-delete {
    display: inline-block;
    height: 20px;
    z-index: 3;
    padding-top: 1px;
    font-size: 10px;
    width: 20px;
    position: relative;
    float: right;
    margin-right: -10px;
    margin-top: -10px;
  }

  .screenshot-container {
    padding-bottom: 25px;
  }

  .screenshot-pl-text {
    padding-right: 10px;
    padding-left: 10px;
    display: table-cell;
    font-size: 15px;
    color: rgba(146, 146, 146, 0.4);
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
  }

  .screenshot-pl-text i {
    display: block;
    text-align: center;
    font-size: 25px;
    color: rgba(146, 146, 146, 0.4);
    margin-bottom: 4px;
  }

  .screenshot-img-placeholder {
    background-color: #e5ebed;
    height: 100%;
    width: 100%;
    display: block;
  }

  .screenshots-wrapper {
    display: flex;
    width: auto;
    justify-content: initial;
    margin-bottom: -20px;
    margin-right:  -5px;
    margin-left: -5px;
  }

  .screenshot-upload {
    position: absolute;
    height: 100%;
    opacity: 0;
    width: 100%;
  }

  .screenshot-item {
    display: block;
    height: 100%;
    max-width: 155px;
  }

  strong, b {
    font-weight: 500;
  }

  .package-page .card-block {
    border-top: 1px solid #e4eaec;
  }

  .head-action-btn {
    font-size: 12px;
    padding: 5px;
    padding-right: 5px;
    padding-left: 10px;
    border: none;
    float: right;
  }

</style>

<div class="page-content container-fluid package-page">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-12" style="float: right;" *ngIf="package">
      <div class="card">
        <div class="card-block">
          <h4 style="margin-top: 0px;" class="project-option-title">Package
            <button type="button" class="btn btn-icon btn-default btn-outline head-action-btn">
              <i class="icon wb-pencil" aria-hidden="true"></i>
            </button>
          </h4>
          <p class="mb-5">
            <span><strong>Name: </strong></span>{{package.name}}
          </p>
          <p class="mb-5">
            <span><strong>Identifier: </strong></span>{{package.identifier}}
          </p>
          <p class="mb-5">
            <span><strong>Latest Version: </strong></span>{{package.latestVersion.version}}
          </p>
          <p class="mb-5">
            <span><strong>Short Description: </strong></span>{{package.shortDescription}}
          </p>
          <p class="mb-5">
            <span><strong>Download Count: </strong></span>{{package.latestVersion.downloadCount}}
          </p>
          <!--<div class="progress progress-xs mb-10">-->
            <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" style="width: 60%;">-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="card-block">
          <h4 class="project-option-title mt-15">Download Restrictions
            <button type="button" class="btn btn-icon btn-default btn-outline head-action-btn">
              <i class="icon wb-pencil" aria-hidden="true"></i>
            </button>
          </h4>
          <div *ngIf="package.downloadRestrictions && package.downloadRestrictions.length > 0">
            <span class="badge badge-primary mr-5 mb-5">Paid: $1.99</span>
            <span class="badge badge-warning mr-5 mb-5">Patreon: Super Buddies, Huds, Lulz</span>
          </div>
          <div *ngIf="!package.downloadRestrictions || package.downloadRestrictions.length < 1">
            <p>This package currently does not have any download restrictions.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-9 col-xl-8 col-lg-12" *ngIf="package">
      <div class="card" style="background-color: transparent">
        <div class="card-block" style="padding: 0px; border-top: none;">
          <div class="nav-tabs-animate nav-tabs-horizontal nav-tabs-inverse" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#description" aria-controls="description" role="tab"
                   aria-expanded="true">
                  Description
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#screenshots" aria-controls="screenshots" role="tab"
                   aria-expanded="false">
                  Screenshots
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#versions" aria-controls="versions" role="tab"
                   aria-expanded="false">
                  Versions
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#comments" aria-controls="comments" role="tab"
                   aria-expanded="false">
                  Comments
                </a>
              </li>
              <li class="nav-item dropdown" style="display: none;">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Menu </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" data-toggle="tab" href="#description" aria-controls="description" role="tab">Description
                  </a>
                  <a class="dropdown-item" data-toggle="tab" href="#screenshots" aria-controls="screenshots" role="tab">Screenshots
                  </a>
                  <a class="dropdown-item" data-toggle="tab" href="#versions" aria-controls="versions" role="tab">Versions
                  </a>
                  <a class="dropdown-item" data-toggle="tab" href="#comments" aria-controls="comments"
                     role="tab">Comments</a>
                </div>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="description" role="tabpanel" aria-expanded="true">
                <quill-editor #editor [(ngModel)]="detailedPackageDescription" [style]="{height: '200px'}">
                  <!--<div quill-editor-toolbar>-->
                  <!--<span class="ql-formats">-->
                  <!--<button class="ql-bold" [title]="'Bold'"></button>-->
                  <!--<button class="ql-italic" [title]="'Bold'"></button>-->
                  <!--<button class="ql-underline" [title]="'Bold'"></button>-->
                  <!--</span>-->
                  <!--<span class="ql-formats">-->
                  <!--<select class="ql-align" [title]="'Aligment'">-->
                  <!--<option selected></option>-->
                  <!--<option value="center"></option>-->
                  <!--<option value="right"></option>-->
                  <!--<option value="justify"></option>-->
                  <!--</select>-->
                  <!--</span>-->
                  <!--</div>-->
                </quill-editor>
                <br>
                <button type="button" (click)="savePackageDescription()" class="btn btn-block btn-primary">Save</button>
              </div>
              <div class="tab-pane" id="screenshots" role="tabpanel" aria-expanded="false">
                <div ng2FileDrop [uploader]="screenshotUploader" style="min-height:170px;" class="p-15">
                  <div class="row screenshots-wrapper" >
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 screenshot-container">
                      <div class="screenshot-item">
                        <input type="file" ng2FileSelect [uploader]="screenshotUploader" class="screenshot-upload" />
                        <div class="screenshot-img-placeholder">
                          <div style="display: table; height: 100%;">
                            <h4 class="screenshot-pl-text"><i aria-hidden="true" class="front-icon wb-upload"></i>Click / Drag to Upload</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 screenshot-container" *ngFor="let item of screenshotUploader.queue">
                      <div class="screenshot-item">
                        <div class="screenshot-img-placeholder">
                          <div style="display: table; height: 100%;">
                            <h4 class="screenshot-pl-text"><i aria-hidden="true" class="front-icon wb-upload"></i>Progress: {{item.progress}}%</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 screenshot-container" *ngFor="let screenshot of package.screenshots">
                      <div class="screenshot-item">
                        <button type="button" class="btn btn-floating btn-danger screenshot-delete" (click)="removeScreenshot(screenshot)"><i class="icon wb-minus" aria-hidden="true"></i></button>
                        <img class="screenshot-img" [src]="'/api/PackageScreenshots/' + screenshot.id + '/download.jpg?size=large'" alt="Card image cap" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="versions" role="tabpanel" aria-expanded="false">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Version</th>
                      <th>Size</th>
                      <th>Downloads</th>
                      <th>Rating</th>
                      <th>Visibility</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="package.versions">
                    <tr *ngFor="let packageVersion of package.versions">
                      <td><a routerLink="version/{{packageVersion.id}}">{{packageVersion.version}}</a></td>
                      <td>{{packageVersion.file.size}}</td>
                      <td>{{packageVersion.downloadCount}}</td>
                      <td>
                        <div class="rating" data-score="4" data-number="5" data-read-only="true"
                             data-plugin="rating"></div>
                      </td>
                      <td>
                        <span class="badge badge-success" *ngIf="packageVersion.visible == true">visible</span>
                        <span class="badge badge-danger" *ngIf="packageVersion.visible == false">hidden</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="comments" role="tabpanel" aria-expanded="false">
                <div style="height:500px; overflow-y: auto;" class="p-15">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
